.matrix-input {
    text-align: center;
    width: 3rem;
    box-sizing: border-box;
    background-color: #040D12;
    color: white;
    border: none;
}

body {
    background-color: #183D3D;
    color: white;
}

.btn {
    background-color: #040D12;
    border-radius: 0.5rem;
    color: white;
}

.btn:hover {
    background-color: #5C8374;
    cursor: pointer;
    transition: 0.5s;
}